<!DOCTYPE html>
<html>
	<head>
		<title>Change Status</title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<h1>Change Membership Status</h1>
		<form action="" method="POST">
			<label for="secret_key"> Enter key </label>
			<input name="secret_key" id="membership-key" placeholder="" type="password" required="true" />
			<input type="submit"></input>
		</form>
	</body>
</html>