<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Delete Message</title>
	</head>
	<body>
		<h1>Delete Message: <%=message.title%></h1>

		<div>Do you really want to delete this message?</div>

		<form method="POST" action="">
			<div id="form-container">
				<input
					type="hidden"
					name="id"
					required="true"
					value="<%=message.id%>"
				/>
				<button type="submit">Delete</button>
			</div>
		</form>
	</body>
</html>
