<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="/stylesheets/style.css" />
	</head>
	<body>
		<header id="header">Header</header>

		<div id="content-box">
			<h1><%= title %></h1>
			<p>Content</p>
		</div>

		<Footer id="footer">Footer</Footer>
	</body>
</html>
