<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Log in</title>
	</head>
	<body>
		<h1>Log In</h1>
		<form action="" method="POST">
			<label for="email">Email</label>
			<input
				name="email"
				id="email"
				placeholder=""
				type="email"
				required="true"
			/>
			<label for="password">Password</label>
			<input name="password" id="password" type="password" required="true" />
			<button type="submit">Log In</button>
		</form>

		<% if(typeof error !== 'undefined') { %>
		<ul>
			<li><%= error.message %></li>
		</ul>
		<% } %>
	</body>
</html>
