<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Sign up</title>
	</head>
	<body>
		<h1>Sign Up</h1>
		<form action="" method="POST">
			<label for="first_name">First name</label>
			<input name="first_name" id="first_name" placeholder="" type="text" />
			<label for="last_name">Last name</label>
			<input name="last_name" id="last_name" placeholder="" type="text" />
			<label for="email">Email</label>
			<input name="email" id="email" placeholder="" type="email" />
			<label for="password">Password</label>
			<input name="password" id="password" type="password" />
			<button>Sign Up</button>
		</form>
	</body>
</html>
